body {
  background-image: url(img/bg-miceb.jpg);
  background-size: cover;
}
body > div {
  padding: 1rem;
  max-width: 720px;
  min-height: 40vh;
  margin: auto;
  margin-top: 10vh;
  background-color: white;
  box-shadow: 5px 5px 15px 2px rgba(4,3,5,0.9);

}
