<!DOCTYPE html>
{%- if page.base -%}{% assign baseurl = site.baseurl | default: '/' | relative_url | replace_first: '/',page.base %}{%- endif -%}
<meta charset="utf8">
<link rel=stylesheet href={{baseurl}}style.css>
<script src={{baseurl}}js/app.js></script>
<body style="bacground-image: URL("{{baseurl}}/img/bg-myceb.jpb");">
<div>
{{content}}
</div>
</body>
